@import url("/css/bootstrap.min.css");
@import url("/css/media_management.css");
@import url("/css/opentip.css");
.vender-block {
	border-width: 1px;
	border-color: #cccccc #aaaaaa #999999 #aaaaaa;
	border-style: solid;
}
#images
{
	float: left;
	margin-right: 5px;
	width: 200px;
	height: 200px;
}
#message_bar
{
   position: absolute;
   bottom: 0px;
   height:20px;
}
td.hidden
{
	display: none;
}
h2 {text-decoration:underline!important;font-weight: bold!important;font-style:italic!important;margin-bottom:8px!important;}
h3 {font-style:italic!important;margin-bottom:8px!important;}
