@import url("http://jasny.github.io/bootstrap/dist/css/bootstrap.min.css");
@import url("css/opentip.css");
.vender-block {
	border-width: 1px;
	border-color: #cccccc #aaaaaa #999999 #aaaaaa;
	border-style: solid;
}