@import url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css");

.vender-block {
	border-width: 1px;
	border-color: #cccccc #aaaaaa #999999 #aaaaaa;
	border-style: solid;
}
