<div class="row" ng-controller="ItemListCtrl">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{item.name}}
			</div>
			<div class="panel-body">
				<legend>{{item.short_desc}}</legend>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Product Information
			</div>
			<div class="panel-body">
				<div class="button-toolbar" role="toobar">
					<div class="btn-group">
						<a href = "/bag.php?action=add&iid={{item.id}}" class="glyphicon glyphicon-briefcase" title="Add to Bag"></a>
					</div>
				</div>
				<hr/>
				Price: <br/>
				Score: {{item.score | number : 1}}
			</div>
		</div>
	</div>
</div>