<div class="row" ng-controller="ItemListCtrl">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Find Items
			</div>
			<div class="panel-body" ng-controller="ItemSortCtrl">
				<legend>Categories</legend>
				<div categories></div>
				<legend>Minimum Score</legend>
				<div scores></div>
			</div>
		</div>
	</div>
	<div ng-repeat="item in items" class="col-md-3">
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<a href="#/shop/{{shop.id}}/item/{{item.id}}">
		    	{{item.name}}				    		
		    	</a>
		    </h3>
		  </div>
		  <div class="panel-body">
				<p>{{item.short_desc}}</p>
		  </div>
		</div>
	</div>
</div>